@using SportsBuddyApp.Models.ViewModel; 
@model IEnumerable<ChooseActivityViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}


<div class="col-sm-8">
    <h2>Activities</h2>
    @*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
    <table class="table">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    @Html.DisplayNameFor(model => model.Activity.ActivityName)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activity.ActivityName)
                    </td>
                    <td>
                        @if (item.IsChoosen)
                        {
                            <a asp-action="Remove" asp-route-activityId="@item.Activity.ActivityId">Remove</a> <span>|</span>
                            <a asp-action="Rating" asp-route-activityId="@item.Activity.ActivityId">Rating</a>
                        }
                        else
                        {
                            <a asp-action="Choose" asp-route-activityId="@item.Activity.ActivityId">Choose</a>
                        }

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

